*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

lecture_examples/
minijava/syntaxtree
minijava/visitor
minijava/*.java
!minijava/Example.java
!minijava/Main.java
!minijava/SymbolTableVisitor.java
!minijava/TypeCheckingVisitor.java
!minijava/VisitorArgs.java

